
<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut tenetur aspernatur hic natus quae perspiciatis! Perspiciatis soluta eligendi possimus recusandae veniam impedit? Necessitatibus suscipit quae magni unde natus minima deserunt, officia architecto in accusamus consequuntur, aspernatur incidunt? Doloremque, sit. Provident animi ipsam error facere dolorum illum voluptatum maiores quis, nesciunt dignissimos, quisquam ducimus, sit architecto eos placeat consequuntur eveniet deserunt deleniti vero. Quisquam ratione doloribus, necessitatibus consequuntur eaque debitis nostrum dolores, officia optio commodi facere nihil ea itaque cum vero ad, atque iste harum hic eum fuga? Deserunt dolore minima, blanditiis id ex animi, voluptates laborum assumenda tempore pariatur nesciunt?</p>

<% include ("footer") %> 